/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.logo {
	display:none;
	
}

.space {
	margin-top: 360px;
	
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {

  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #00a2df;
}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}
/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.row {
	margin-top: -20px;
	
}
/**************************************************/


.button {
	margin-top: 20px;
	
}

.sub_text {
	
	margin-top: 20px;
    color:#333;
    font-size:20px;	
	
}


.container marketing {
	margin-top: 900px;
	
	
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  



}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

  @media only screen and (min-width: 150px) and (max-width: 480px)
{ 

.logo {
	display:inline-block;
	margin-left: 5%;
	margin-top: 3%;
}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #fff;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	
	font-size:24px;
	color:#333;
}


h2 {
   font-size:18px;
	color:#333;	
	
}
.countdown-timer {
font-size:12px;	
color:#333;	
}

/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.sub_text {
    color:#333;
    font-size:14px;


		
	
}



/**************************************************/

.mainFooter {
	font-size:11px;
	text-align:center;
	
}

.icons {
	margin-right: 30%;
	height: 30px;
	
	
	
}

}


  @media only screen and (min-width: 426px) and (max-width: 426px)
{ 

.logo {
	display:inline-block;
	margin-left: 5%;
	margin-top: 2%;
}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #fff;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	
	font-size:24px;
	color:#333;
}


h2 {
	margin-top: 60px;
   font-size:18px;
	color:#333;	
	
}
.countdown-timer {
font-size:12px;	
color:#333;	
}

/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.sub_text {
    color:#333;
    font-size:14px;
}



/**************************************************/

.mainFooter {
	font-size:11px;
	text-align:left;
	
}

.icons {
	margin-right: 0%;
	height: 30px;
	
	
	
}

}


 @media only screen and (min-width: 640px) and (max-width: 640px)
{ 

.logo {
	display:inline-block;
	margin-left: 5%;
	margin-top: 2%;
}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #fff;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	
	font-size:24px;
	color:#333;
}


h2 {
	margin-top: 140px;
   font-size:18px;
	color:#333;	
	
}
.countdown-timer {
font-size:12px;	
color:#333;	
}

/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.sub_text {
    color:#333;
    font-size:14px;
}



/**************************************************/
.space {
	
	height: 20px;
	
	
}	

.mainFooter {
	font-size:11px;
	text-align:left;
	
}

.icons {
	
	height: 30px;

}

}


 @media only screen and (min-width: 1366px) and (max-width: 1366px)
{ 

.logo {
	display:none;

}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color:  #00a2df;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	font-size:24px;
	color:#fff;
	padding-bottom: 10px;
	
}

.countdown-timer {
font-size:12px;	
color:#fff;
margin-top: -20px;
margin-bottom: -5px;
	
}



h2 {
	margin-top: 270px;
   	color:#333;	
	}

/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}




/**************************************************/

.space {
	margin-top: 480px;
	
}


}


 @media only screen and (min-width: 1024px) and (max-width: 1024px)
{ 

.logo {
	display:none;

}


.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color:  #00a2df;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	font-size:24px;
	color:#fff;
	padding-bottom: 10px;
	
}

.countdown-timer {
font-size:12px;	
color:#fff;
margin-top: -20px;
margin-bottom: -5px;
	
}



h2 {
	margin-top: 230px;
   	color:#333;	
	}

/****************Video***************************/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

}

.videoWrapper iframe {
	position: absolute;
	top: -3px;
	left: 0px;
	width: 100%;
	height: 100%;
}




/**************************************************/
.space {
	margin-top: 400px;
	
}


}


 @media only screen and (min-width: 768px) and (max-width: 768px)
{ 

.logo {
	display:none;

}



.navbar-wrapper {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
	font-size: 11px;
	

  padding-left: 15px;
  padding-right: 15px;
}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color:  #fff;
  margin-bottom: -520px;
 

}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
} 

h1 {
	font-size:24px;
	color:#333;
	padding-bottom: 10px;
	
}

.countdown-timer {
font-size:12px;	
color:#333;
margin-top: -20px;
margin-bottom: -5px;
	
}



h2 {
	margin-top: 190px;
   	color:#333;	
	}


.sub_text {
	color: #fff;
	
}

}



 @media only screen and (min-width: 1280px) and (max-width: 1280px)
{ 

.space {
	margin-top: 130px;
	
}


.navbar-wrapper {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel base class */
.carousel {
  height: 130px;
  margin-bottom: -10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #00a2df;
}
.carousel-inner > .item > img {
  position: absolute;
   top: 0;
  left: 0;
  min-width: 100%;
  height: 550px;
}
/****************Video***************************/

h1 {
	font-size:20px;
	color:#fff;
	padding-bottom: 10px;
	
}

h2 {
	margin-top: 290px;
   	color:#333;
	}
	
.space {
	margin-top: -10px;
	
}


.sub_text {
	color: #fff;
	
}




}


 @media only screen and (min-width: 1360px) and (max-width: 1360px)
{ 




.space {
	margin-top: 130px;
	
}


.navbar-wrapper {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Declare heights because of positioning of img element */

.carousel {
  height: 50px;
  margin-bottom: -10px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

h1 {
	font-size:20px;
	color:#fff;
	padding-bottom: 10px;
	
}

h2 {
	margin-top: 290px;
   	color:#333;
	}
	


.sub_text {
	color: #fff;
	
}

}



 @media only screen and (min-width: 1680px) and (max-width: 1680px)
{ 




.space {
	margin-top: 130px;
	
}


.navbar-wrapper {
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  font-size: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel {
  height: 50px;
  margin-bottom: -10px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  

}

h1 {
	font-size:20px;
	color:#fff;
	padding-bottom: 10px;
	
}

h2 {
	margin-top: 290px;
   	color:#333;
	}
	


.sub_text {
	color: #fff;
	
}


}







