html, body  {
	background-image:url(../images/200_dpi_background.png);
	background-color:#06090e;
	 background-repeat:no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size:18px;
}

.container {
   width: 80%;
}

.topwrapper {
	width:inherit;
	margin-top: 90px;
}
	

.codtoplogo {
	position: absolute;
	top: 22px;
	left: 150px;
}



.lolbottomlogo {
float:right;

}


.loltoplogo {
	position: absolute;
	top: 22px;
	left: 300px;
}

.starter-template {
  margin-top: 30px;
  padding: 0px 0px;
  text-align: center;
  color:#fff;
}
.mainlogo {
    position: relative;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 460px;
}


.footershading {
    margin-top: 190px;
	position: relative;
	text-align: center;
	height: 172px;
	border: none;
	background-image:url(../images/ofDUqnz.png);
	background-repeat:no-repeat;
	overflow: hidden;
	z-index: 1;
}



@media only screen and (min-width: 320px) and (max-width: 699px)

{
html, body  {
  background-image:url(../images/200_dpi_background.png);
  background-color:#06090e;
  background-repeat:no-repeat; 
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

  

.grenade {

}


.loltoplogo {
    margin-top: 120px;
	position: absolute;
	float:left;
	top: 12px;
	left: 60px;
	text-align:center;
}



.lolbottomlogo {
    margin-left: 120px;
	float:left;
	margin-top: 10px;
	text-align:center;

}
 
 .codtoplogo {
    margin-left: -100px;
	position: absolute;
	margin-top: 90px;

}


 .mainlogo {
    margin-left: 35px;
    position: relative;
	padding: 30px;
	margin-top: 90px;
	width: 100%;

}


}

